<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mt-2 mt-lg-0 px-2" routerLink="/">
        <img src="assets/logo.png" height="50" alt="PSX Logo" loading="lazy" />
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/createTask">ToDo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/taskList">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/statistics">Completed</a>
        </li>    
      </ul>      
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav justify-content-end mb-1 mb-lg-0 px-2">
        <li class="nav-item">
          <a style="text-decoration: none;color: darkgray;" class="nav-link">{{currentDate |  date : "dd MMM,yyyy hh:mm:ss" }}</a>
        </li>
      </ul>
      <a class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <img src="assets/profile.png" height="40px" alt="">
      </a>
    </div>       
  </div>  
</nav>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title" id="offcanvasExampleLabel">Welcome </h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
      <hr>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/statistics">Completed</a>
        </li>
      </ul>
    </div>
  </div>
</div>