<!-- Top Navbar begin -->
<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span><h1>ScrumMaster</h1></span>
  <div class="spacer"></div>
  <button mat-button>{{currentDate | date:"MMM dd,  hh:mm a" }}</button>
  
  <button (click)="badgevisibility()"  mat-icon-button>
      <mat-icon matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible" matBadgeSize="small">notifications</mat-icon>
  </button>
  <span>
    <button [ngbPopover]="popoverContent" triggers="click" mat-icon-button>
        <mat-icon>account_circled</mat-icon>
    </button>
</span>
</mat-toolbar>

<!-- LogOut popover -->
<ng-template #popoverContent>
    <div role="tooltip">
      <h1>{{userDetails.firstName}} {{userDetails.lastName}}</h1>
      <p>{{userDetails.designation}}</p>
      <button (mouseenter)="isHovered = true" (mouseleave)="isHovered = false" [ngStyle]="{ 'background-color': isHovered ? '#EF0107' : '' }" (click)="logout()" mat-raised-button>
        <mat-icon>logout</mat-icon>LogOut
      </button>
    </div>
</ng-template>

<!-- Side Menubar starts -->
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
            <mat-list-item>
                <button routerLink="/" mat-button><mat-icon>home</mat-icon> Home</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="/project" mat-button><mat-icon>code</mat-icon>Projects</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="/dashBoard" mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="/statistics" mat-button><mat-icon>analytics</mat-icon> Statistics</button>
            </mat-list-item>
            <mat-list-item>
                <button (click)=showMenu(1) mat-button><b>Tasks</b><mat-icon *ngIf="!showTask">arrow_drop_down</mat-icon><mat-icon *ngIf="showTask">arrow_drop_up</mat-icon></button>
            </mat-list-item>
            <mat-list-item *ngIf="showTask">
                <button routerLink="/createTask" mat-button><mat-icon>add_task</mat-icon>Create Task</button>
            </mat-list-item>
            <mat-list-item *ngIf="showTask">
                <button routerLink="/taskList" mat-button><mat-icon>format_list_bulleted</mat-icon>TasksList</button>
            </mat-list-item>  
            <mat-list-item>
                <button (click)=showMenu(2) mat-button><b>Requests</b><mat-icon *ngIf="!showRequest">arrow_drop_down</mat-icon><mat-icon *ngIf="showRequest">arrow_drop_up</mat-icon></button>
            </mat-list-item>
            <mat-list-item *ngIf="showRequest">
                <button routerLink="/myRequests" mat-button><mat-icon>pending_actions</mat-icon>My Requests</button>
            </mat-list-item>
            <mat-list-item *ngIf="showRequest">
                <button routerLink="/approveRequests" mat-button><mat-icon>domain_verification</mat-icon>Approve Requests</button>
            </mat-list-item>
            <mat-list-item>
                <button  routerLink="/profile" mat-button><mat-icon>groups</mat-icon>Team</button>
            </mat-list-item>            
            <mat-list-item>
                <button mat-button><mat-icon>settings</mat-icon> Settings</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>help</mat-icon> Help</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
