<div class="container-fluid my-3">
    <h1 class="display-2">Profile Activation Requests</h1>
    <hr>
</div>

<div class="container-fluid bg-secondary-subtle bg-opacity-75 shadow-sm rounded p-3">
    <div class="row">
        <div class="col-md-4" *ngFor="let profileRequest of profileRequests">
            <div class="card m-2">
                <div class="card-header">
                    <h3 class="card-subtitle mb-2 text-body-secondary"><b>{{profileRequest.request.requestId}}</b></h3>
                </div>
                <div class="card-body">
                    <p class="card-text"><b>Employee ID :</b> {{profileRequest.user.empId}}</p>
                    <p class="card-text"><b>Employee Name :</b> {{profileRequest.user.firstName}}
                        {{profileRequest.user.lastName}}</p>
                    <p class="card-text"><b>Designation :</b> {{profileRequest.user.role}}</p>
                    <p class="card-text"><b>Department :</b> {{profileRequest.user.departmentName}}</p>
                    <p class="card-text"><b>Created On :</b> {{profileRequest.user.createdOn | date}}</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary mx-2" (click)="setProfileRequest(profileRequest)" data-bs-toggle="modal" data-bs-target="#approveModal">Approve</button>
                    <button type="button" class="btn btn-danger mx-2" (click)="setProfileRequest(profileRequest)" data-bs-toggle="modal" data-bs-target="#rejectionModal">Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal for Approval -->
<div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="approveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="approveModalLabel">Approve User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea [(ngModel)]="approveReason" class="form-control" rows="4" placeholder="Write reason..."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="approveUser()">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Rejection -->
<div class="modal fade" id="rejectionModal" tabindex="-1" aria-labelledby="rejectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="rejectionModalLabel">Reject User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea [(ngModel)]="rejectionReason" class="form-control" rows="4" placeholder="Write reason..."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="rejectUser()">Submit</button>
            </div>
        </div>
    </div>
</div>