<div class="container-fluid p-5">
    <!-- Start of Profile Activation Requests -->
    <div class="row">
        <h1>Profile Activation Requests</h1>
    </div>
    <div *ngIf="profileRequests.length==0" class="container-fluid  p-3">
        <div class="row p-3">
            <h1 class="opacity-25 text-center"><p>Currently No Profile Activation Requests</p></h1>
        </div>
    </div>
    <div *ngIf="profileRequests.length>0" class="container-fluid text-bg-light shadow-sm rounded p-5">
        <div class="row">
            <div class="col-md-4" *ngFor="let profileRequest of profileRequests">
                <div class="card m-2">
                    <div class="card-header bg-secondary-subtle">
                        <h3 class="card-subtitle mb-2 text-body-secondary"><b>{{profileRequest.request.requestId}}</b></h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><b>Employee ID :</b> {{profileRequest.userDetails.empId}}</p>
                        <p class="card-text"><b>Employee Name :</b> {{profileRequest.userDetails.firstName}}
                            {{profileRequest.userDetails.lastName}}</p>
                        <p class="card-text"><b>Designation :</b> {{profileRequest.userDetails.designation}}</p>
                        <p class="card-text"><b>Department :</b> {{profileRequest.userDetails.departmentName}}</p>
                    </div>
                    <div class="card-footer bg-secondary-subtle">
                        <button type="button" class="btn btn-primary m-2" (click)="setProfileRequest(profileRequest)" data-bs-toggle="modal" data-bs-target="#approveModal">Approve</button>
                        <button type="button" class="btn btn-danger m-2" (click)="setProfileRequest(profileRequest)" data-bs-toggle="modal" data-bs-target="#rejectionModal">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Profile Activation Requests Ends -->
</div>

<!-- Modal for Approval -->
<div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="approveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="approveModalLabel">Approve User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea [(ngModel)]="approveReason" class="form-control" rows="4" placeholder="Write reason..."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="approveUser()">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Rejection -->
<div class="modal fade" id="rejectionModal" tabindex="-1" aria-labelledby="rejectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="rejectionModalLabel">Reject User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea [(ngModel)]="rejectionReason" class="form-control" rows="4" placeholder="Write reason..."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="rejectUser()">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- End Of Profile Activation Requests -->