<div class="container-fluid p-5">
    <!-- Start of Profile Activation Requests -->
    <div class="row">
        <h1>Profile Activation Requests</h1>
    </div>
    <div *ngIf="profileRequests.length==0" class="container-fluid  p-3">
        <div class="row p-3">
            <h1 class="opacity-25 text-center">
                <p>Currently No Profile Activation Requests</p>
            </h1>
        </div>
    </div>
    <div *ngIf="profileRequests.length>0" class="container-fluid text-bg-light shadow-sm rounded p-5">
        <div class="row">
            <div class="col-md-4" *ngFor="let profileRequest of profileRequests">
                <div class="card m-2">
                    <div class="card-header bg-secondary-subtle">
                        <h3 class="card-subtitle mb-2 text-body-secondary"><b>{{profileRequest.request.requestId}}</b>
                        </h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><b>Employee ID :</b> {{profileRequest.userDetails.empId}}</p>
                        <p class="card-text"><b>Employee Name :</b> {{profileRequest.userDetails.firstName}} {{profileRequest.userDetails.lastName}}</p>
                        <p class="card-text"><b>Designation :</b> {{profileRequest.userDetails.designation}}</p>
                        <p class="card-text"><b>Department :</b> {{profileRequest.userDetails.departmentName}}</p>
                    </div>
                    <div class="card-footer bg-secondary-subtle">
                        <button type="button" class="btn btn-success m-2" (click)="open(approve,profileRequest)">Approve</button>
                        <button type="button" class="btn btn-danger m-2"  (click)="open(reject,profileRequest)">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Profile Activation Requests Ends -->

</div>

<!--Approve Modal Template -->
<ng-template #approve let-modal>
    <div class="modal-header">
        <h1 class="modal-title">Approve User</h1>
        <button mat-mini-fab (click)="modal.dismiss('Cross click')"><mat-icon>close</mat-icon></button>
    </div>
    <div class="modal-body">
        <textarea [(ngModel)]="approveReason" class="form-control" rows="4" placeholder="Write reason..."></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="approveUser() ; modal.dismiss('Cross click')" >Submit</button>
    </div>
</ng-template>

<!--Reject Modal Template -->
<ng-template #reject let-modal>
    <div class="modal-header">
        <h1 class="modal-title">Reject User</h1>
        <button mat-mini-fab (click)="modal.dismiss('Cross click')"><mat-icon>close</mat-icon></button>
    </div>
    <div class="modal-body">
        <textarea [(ngModel)]="rejectionReason" class="form-control" rows="4" placeholder="Write reason..."></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="rejectUser() ; modal.dismiss('Cross click')">Submit</button>
    </div>
</ng-template>