<div class="container-fluid  p-5" *ngIf="reportees.length>0">
    <div class="row text-center mt-3">
        <h1 class="display-4">Create Task</h1>
    </div>
    <div class="container bg-light shadow-sm rounded form-group w-75 p-5 my-2">
        <form [formGroup]="taskFormGroup" (ngSubmit)="onSubmit(taskFormGroup.value)">
            <div class="row my-4">
                <div class="col-sm-6">
                    <label class="form-label" for="taskName">Task Name</label>
                    <input type="text" class="form-control" id="taskName" formControlName="taskName" required
                        [ngClass]="{'is-invalid' : taskFormGroup.controls.taskName.touched && taskFormGroup.controls.taskName.errors}">
                    <div class="invalid-feedback" *ngIf="taskFormGroup.controls.taskName.touched">
                        <p>Please enter Task Name</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="projectName" class="form-label">Project Name</label>
                    <input type="text" class="form-control" id="projectName" formControlName="projectName" required
                        [ngClass]="{'is-invalid' : taskFormGroup.controls.projectName.touched && taskFormGroup.controls.projectName.errors}">
                    <div class="invalid-feedback"
                        *ngIf="taskFormGroup.controls.projectName.touched && taskFormGroup.controls.projectName.errors">
                        <p>Please enter Project Name</p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-md-12">
                    <label for="description" class="form-label">Task Description</label>
                    <textarea class="form-control" id="description" formControlName="description" rows="10"
                        placeholder="Enter your description"
                        [ngClass]="{'is-invalid' : taskFormGroup.controls.description.touched && taskFormGroup.controls.description.errors}"></textarea>
                </div>
                <div class="invalid-feedback"
                    *ngIf="taskFormGroup.controls.description.touched && taskFormGroup.controls.description.errors">
                    <p>Please enter Task Description</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-sm-4">
                    <label for="assignedTo" class="form-label" class="form-label">Assign To</label>
                    <select id="assignedTo" class="form-select" formControlName="assignedTo"
                        placeholder="---select teammate---" name="assignedTo" required
                        [ngClass]="{'is-invalid' : taskFormGroup.controls.assignedTo.touched && taskFormGroup.controls.assignedTo.errors}">
                        <option *ngFor="let reportee of reportees" [value]="reportee.empId">{{ reportee.firstName }}
                            {{reportee.lastName}}</option>
                    </select>
                    <div class="invalid-feedback"
                        *ngIf="taskFormGroup.controls.assignedTo.touched && taskFormGroup.controls.assignedTo.errors">
                        <p>Please Assign Task</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="priority" class="form-label" class="form-label">Priority</label>
                    <select name="priority" class="form-select" id="priority" formControlName="priority"
                        placeholder="---select priority---" required
                        [ngClass]="{'is-invalid' : taskFormGroup.controls.priority.touched && taskFormGroup.controls.priority.errors}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <div class="invalid-feedback"
                        *ngIf="taskFormGroup.controls.priority.touched && taskFormGroup.controls.priority.errors">
                        <p>Please select priority</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="deadline" class="form-label">DeadLine</label>
                    <input type="date" class="form-control" id="deadline" formControlName="deadline" required
                        [ngClass]="{'is-invalid' : taskFormGroup.controls.deadline.touched && taskFormGroup.controls.deadline.errors} ">
                    <div class="invalid-feedback"
                        *ngIf="taskFormGroup.controls.deadline.touched && taskFormGroup.controls.deadline.errors">
                        <p *ngIf="taskFormGroup.controls.deadline.errors.required">Please enter ID of your manager</p>
                        <p *ngIf="taskFormGroup.controls.deadline.errors.pattern">Invalid ID</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center my-3">
                <div class="col-sm-2 text-center">
                    <button class="btn btn-primary" [disabled]="!taskFormGroup.valid">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>



<div *ngIf="reportees.length==0" class="container-fluid  p-3 ">
    <div class="row p-3">
        <h1 class="opacity-25 text-center">
            <p>Cant create task without reportees</p>
        </h1>
    </div>
</div>