<div class="container-fluid bg-secondary-subtle p-5">
    <div class="row p-3">
        <!--Tasks assigned by me table -->
        <div class="col-md-6">
            <div class="container-fluid bg-light rounded">
                <div class="row text-center bg-dark text-white p-2">
                    <h1>Assigned By Me</h1>
                </div>
                <div class="row text-center">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col" *ngFor="let header of assignedByMe.headers">{{header}}</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr scope="col" *ngFor="let record of assignedByMe.records;let i=index;">
                                <td>{{i+1}}</td>
                                <td>{{record[0]}}</td>
                                <td>{{record[1]}}</td>
                                <td>{{record[2]}}</td>
                                <td>{{record[3]}}</td>
                                <td>{{record[4]}}</td>
                            </tr>
                        </tbody>
                      </table>
                </div>                
            </div>
        </div>
        <!-- Tasks assigned to me table -->
        <div class="col-md-6">
            <div class="container-fluid bg-light rounded">
                <div class="row text-center bg-dark text-white p-2">
                    <h1>Assigned To Me</h1>
                </div>
                <div class="row text-center">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col" *ngFor="let header of assignedToMe.headers">{{header}}</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr scope="col" *ngFor="let record of assignedToMe.records;let i=index;">
                                <td>{{i+1}}</td>
                                <td>{{record[0]}}</td>
                                <td>{{record[1]}}</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>