<div class="container bg-light border border-dark-subtle form-container shadow-lg text-center rounded m-5 w-50">
    <div class="row text-center my-3">
        <h1 class="display-4">Create User</h1>
    </div>
    <div class="container bg-light shadow-sm rounded form-group w-75 p-2 my-3">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
            <div class="row my-2">
                <div class="col-sm-6">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName" required [ngClass]="{'is-invalid' : formGroup.controls.firstName.touched && formGroup.controls.firstName.errors}"
                    >
                    <div class="invalid-feedback" *ngIf="formGroup.controls.firstName.touched">
                        <p>Please enter First Name</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" required [ngClass]="{'is-invalid' : formGroup.controls.lastName.touched && formGroup.controls.lastName.errors}">
                    <div class="invalid-feedback" *ngIf="formGroup.controls.lastName.touched && formGroup.controls.lastName.errors">
                        <p>Please enter Last Name</p>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm-7">
                    <label for="emailId" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailId" formControlName="emailId" required [ngClass]="{'is-invalid' : formGroup.controls.emailId.touched && formGroup.controls.emailId.errors}" >
                    <div class="invalid-feedback" *ngIf="formGroup.controls.emailId.touched && formGroup.controls.emailId.errors">
                        <p *ngIf="formGroup.controls.emailId.errors.required">Please enter email</p>
                        <p *ngIf="formGroup.controls.emailId.errors.email">Invalid email</p>
                    </div>                   
                </div>
                <div class="col-sm-5">
                    <label for="departmentName" class="form-label" class="form-label">Department Name</label>
                    <select name="departmentName" class="form-control"  id="departmentName" formControlName="departmentName" placeholder="---select department---" required [ngClass]="{'is-invalid' : formGroup.controls.departmentName.touched && formGroup.controls.departmentName.errors}">
                        <option value="Product">Product</option>
                        <option value="Testing">Testing</option>
                        <option value="Database">Database</option>
                        <option value="Admin">Admin</option>
                        <option value="Project">Project</option>
                        <option value="Marketing">Marketing</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="formGroup.controls.departmentName.touched && formGroup.controls.departmentName.errors">
                        <p>Please select department</p>
                    </div> 
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm-7">
                    <label for="role" class="form-label" class="form-label">Designation</label>
                    <select name="role" class="form-control"  id="role" formControlName="role" placeholder="---select role---" required [ngClass]="{'is-invalid' : formGroup.controls.role.touched && formGroup.controls.role.errors}">
                        <option value="Project Manager">Project Manager</option>
                        <option value="Senior Software Engineer">Senior Software Engineer</option>
                        <option value="Software Engineer">Software Engineer</option>
                        <option value="Associate Software Engineer">Associate Software Engineer</option>
                        <option value="Trainee">Trainee</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="formGroup.controls.role.touched && formGroup.controls.role.errors">
                        <p>Please select role</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <label for="gender" class="form-label" class="form-label">Gender</label>
                    <select name="gender" class="form-control"  id="gender" formControlName="gender" placeholder="---select gender---" required [ngClass]="{'is-invalid' : formGroup.controls.gender.touched && formGroup.controls.gender.errors}">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="formGroup.controls.gender.touched && formGroup.controls.gender.errors">
                        <p>Please select gender</p>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm-6">
                    <label for="empId" class="form-label">Emp ID</label>
                    <input type="text" class="form-control" id="empId" formControlName="empId" required [ngClass]="{'is-invalid' : formGroup.controls.empId.touched && formGroup.controls.empId.errors}" >
                    <div class="invalid-feedback" *ngIf="formGroup.controls.empId.touched && formGroup.controls.empId.errors">
                        <p *ngIf="formGroup.controls.empId.errors.required">Please enter ID</p>
                        <p *ngIf="formGroup.controls.empId.errors.pattern">Invalid ID</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="reportingTo" class="form-label">Reporting to</label>
                    <input type="text" class="form-control" id="reportingTo" formControlName="reportingTo" required [ngClass]="{'is-invalid' : formGroup.controls.reportingTo.touched && formGroup.controls.reportingTo.errors} ">
                    <div class="invalid-feedback" *ngIf="formGroup.controls.reportingTo.touched && formGroup.controls.reportingTo.errors">
                        <p *ngIf="formGroup.controls.reportingTo.errors.required">Please enter ID of your manager</p>
                        <p *ngIf="formGroup.controls.reportingTo.errors.pattern">Invalid ID</p>
                    </div>  
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm-6">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username" required [ngClass]="{'is-invalid' : formGroup.controls.username.touched && formGroup.controls.username.errors}" >
                    <div class="invalid-feedback" *ngIf="formGroup.controls.username.touched && formGroup.controls.username.errors">
                        <p>Please enter username</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password" required [ngClass]="{'is-invalid' : formGroup.controls.password.touched && formGroup.controls.password.errors}" >
                    <div class="invalid-feedback" *ngIf="formGroup.controls.password.touched && formGroup.controls.password.errors">
                        <p>Please enter password</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center my-3">
                <div class="col-sm-2 text-center">
                    <button class="btn btn-primary" [disabled]="!formGroup.valid">Create</button>
                </div>
            </div>
            <hr>
            <div class="row text-center my-2">
                <a routerLink="/login" style="text-decoration: none;"> Go to login </a>
            </div>
        </form>
    </div>
</div>