<div class="container">
    <div class="row p-5">
        <div class="col-md-8">
            <div class=" rounded bg-transparent border-0">
                <img src="assets\assign.jpg" class="rounded" width="400px" height="250px" alt="No image">
            </div>
        </div>
        <div class="col-md-4">
            <h2>Assign and manage your tasks among the team with much ease and keep a better overview</h2>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-4">
            <h2>Tracking and Data Analytics about your team has become easier than ever</h2>
        </div>
        <div class="col-md-8">
            <div class=" rounded bg-transparent border-0">
                <img src="assets\statistics.jpg" class="rounded" width="400px" height="250px" alt="No image">
            </div>
        </div>        
    </div>
    <div class="row p-5">
        <div class="col-md-8">
            <div class=" rounded bg-transparent border-0">
                <img src="assets\coop.jpg" class="rounded" width="400px" height="250px" alt="No image">
            </div>
        </div>
        <div class="col-md-4">
            <h2>Tracking and managing your teams individual and overall performances becomes much more easier </h2>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-4">
            <h2>Track and personalize your goals and manage them with simple UI in one place</h2>
        </div>
        <div class="col-md-8">
            <div class=" rounded bg-transparent border-0">
                <img src="assets\createTask.jpg" class="rounded" width="400px" height="250px" alt="No image">
            </div>
        </div>        
    </div>
    <div class="row p-5">
        <div class="col-md-8">
            <div class=" rounded bg-transparent border-0">
                <img src="assets\todo.jpg" class="rounded" width="400px" height="250px" alt="No image">
            </div>
        </div>
        <div class="col-md-4">
            <h2>Excel !! in your performance and productivity</h2>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-4">
            <h2>ScrumMaster assists you in coordination and better time management in a team</h2>
        </div>
        <div class="col-md-8">
            <div class=" rounded bg-transparent border-0">
                <img src="assets\manageTime.jpg" class="rounded" width="400px" height="250px" alt="No image">
            </div>
        </div>        
    </div>
    <div class="row p-5">
        <div class="col-md-8">
            <div class=" rounded bg-transparent border-0">
                <img src="assets\timelyanalysis.jpg" class="rounded" width="400px" height="250px" alt="No image">
            </div>
        </div>
        <div class="col-md-4">
            <h2>Reminds you of your deadline to keep you on track date to date</h2>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-4">
            <h2>Achieve the result you longed for</h2>
        </div>
        <div class="col-md-8">
            <div class=" rounded bg-transparent border-0">
                <img src="assets\betterperf.jpg" class="rounded" width="400px" height="250px" alt="No image">
            </div>
        </div>        
    </div>
</div>