<div class="container-fluid  p-2 m-2">
    <div class="row justify-content-end m-1">
        <div class="col-auto p-2 mx-5" *ngIf="showAddProject" >
            <button class="btn-primary" mat-fab extended color="primary" (click)="openDialog()"><mat-icon>add_circle</mat-icon>New Project</button>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-sm-12">
            <h1><b>Projects</b></h1>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-sm-4" *ngFor="let project of myProjects">
            <div >
                <div class="card card-1">
                    <h3>{{project.projectName}}</h3>
                    <p>{{project.description}}</p>
                  </div>
            </div>
        </div>
    </div>
</div>